body {
    margin: 0;
}

.container {
    width: 375px;
    margin: 0 auto;
    border: 1px solid gray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    width: 127px;
    height: 33.02px;
    margin: 0;
}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}